/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/installed
/vendor
/public/uploads
/uploads
.env
.env.backup
.env.production.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
.idea
*.swp
*.swo
*~
.vscode
/packages/automas/pbx
