/node_modules
/public/hot
/public/storage

# Ignore everything in storage
/storage/*

# Allow storage/app
!/storage/app/

# Ignore everything inside storage/app
/storage/app/*

# Keep these two folders
!/storage/app/samples/
!/storage/app/samples/**

!/storage/app/sounds/
!/storage/app/sounds/**


/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
.idea
*.swp
*.swo
*~
.vscode
/packages/automas/Pbx/src/Resources/js/Pages/dialer/components
